<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cctv</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
    />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/managerMain.css" />
    <link rel="stylesheet" href="/style/div.css" />
  </head>
  <body>
    <div class="na">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="navbar-header">
              <img alt="Brand" src="../picture/CS (1).png" />
            </div>
          </div>
          <div class="col-lg-4" id="user">
            <ul id="log">
              <li>
                환영합니다 <strong><%=name%></strong> 님<strong> /</strong>
              </li>
              <li>
                <a id="name" href="/managerPage/logout">로그아웃</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div
              id="navbar"
              class="navbar-collapse collapse"
              aria-expanded="false"
            >
              <ul class="nav navbar-nav">
                <!-- <button onclick="window.open('invention.html')">재고관리</button > -->
                <li><a href="/managerPage">홈</a></li>
                <li>
                  <a href="/managerPage/inventory">재고관리</a>
                </li>
                <li>
                  <a href="/managerPage/money">매출관리</a>
                </li>
                <li>
                  <a href="/managerPage/sales">주문내역</a>
                </li>
                <li>
                  <a href="/managerPage/cctv">cctv</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fulid" style="margin: 20px;">
      <div class="row">
        <div class="col-md-6">
          <table border="1" class="manager_table"></table>
            <thead>
              <tr>
                <th>일</th>
                <th>매출</th>
              </tr>
            </thead>
            <tbody>
              <form>
                <select onchange="showValue(this)" id="mounthSelect" name = "mounth">
                  <option value = "none">===월선택===</option>
                  <option value = "1">1월</option>
                  <option value = "2">2월</option>
                  <option value = "3">3월</option>
                  <option value = "4">4월</option>
                  <option value = "5">5월</option>
                  <option value = "6">6월</option>
                  <option value = "7">7월</option>
                  <option value = "8">8월</option>
                  <option value = "9">9월</option>
                  <option value = "10">10월</option>
                  <option value = "11">11월</option>
                  <option value = "12">12월</option>
                </select>
              </form>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="maindiv container-fulid">
      <div class="row">
        <div class="col-lg-12">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th >날자</th>
                <th >요일 매출</th>
              </tr>
            </thead>
            <tbody id="tbcreate">

            </tbody>
          </table>
          <table class="table" style="text-align: center;">
            <tbody id="sum">
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <form action="/managerPage/logout">
    </form>
    <script src="/js/mounth.js"></script>
    </script>
  </body>
</html>
