<!DOCTYPE html>
<html lnag="ko">
    <head>
        <meta charset="UTF-8">
        <title>GS24 회원가입</title>
        <link rel="stylesheet" href="/style/register.css">
        <link rel="stylesheet" href="/style/login.css">
        
    </head>
    <body>
      <header>
        <input type="image" src="../picture/CS (2).png" />
      </header>
    
        <!-- wrapper -->
        <div id="wrapper">

            <!-- content-->
            <div id="content"><br><br><br><br><br>
                <form method = "post">

                    <ul>
                        <li>
                            <label>이름</label>
                            <input type="text" class="int" name='name' required><br>
                        </li>
                        <li>
                            <label>핸드폰 번호</label>
                            <input type="text" class="int" name="phonenum" required><br>
                        </li>
                        <li>
                            <label>아이디</label>
                            <input type="text" class="int" name="id" required><br>
                        </li>
                        <li>
                            <label>비밀번호</label>
                            <input type="password" class="int" name="pwd" required><br>
                        </li>
                        <li>
                            <label>비밀번호 확인</label>
                            <input type="password" class="int" name="pwd_con" required><br>
                        </li>
                    </ul>

                <!-- JOIN BTN-->
                <form class="login-form" method="post">
                    <input type="submit" value="회원가입"><br><br>
                    <input type="submit" value="이전 페이지로"onclick="location.href = '/managerPage'">

                        <!-- <input type="submit" id = "btnJoin" value="이전 페이지로"> 
                        <a href="/managerPage">이전 페이지로</a></p> -->
                        
                <!-- <a href="/managerPage" id = "btnJoin" value = "이전 페이지로"></a> -->
                     
                    </div>
                    </ul>
                </div>
            </form>
                

            </div> 
            <!-- content-- div>

        </div> 
        <!-- wrapper -- div>
    </body>
</html>